<login1c (change) = "onOneCStatusChanged()"></login1c>

<!--<button *ngIf="oneComponent.exchangeEnabled" (click)="testClick()" class="btn btn-dark"> Listen fire on </button>-->

<alert-lable ></alert-lable> 

<div class="scrolling-hight">
<table *ngIf="oneComponent.exchangeEnabled" class="table table-sm table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Карта</th>
        <th scope="col">Обновлено в 1С</th>
        <th scope="col">Обновлено в FireG</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of viewObjects">
        <th scope="row"> {{obj.rowdate}} </th>
        <td>{{ obj.ID }}</td>
        <td
        [ngClass]="{'table-success' : obj.OneC=='ok',
                    'table-danger' : obj.OneC!='ok'
                    }"

        >{{ obj.OneC }} </td>
        <td
        [ngClass]="{'table-success' : obj.FireG=='ok',
                    'table-danger' : obj.FireG!='ok'
                    }"
        
        
        >{{ obj.FireG }}</td>
      </tr>
    </tbody>
  </table>
  </div>