<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="https://chilipizza.uz.ua/">Chili-discount</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="(authService.user$ | async ) as user" class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active current">
        <a class="nav-link" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item " routerLinkActive="active current">
        <a class="nav-link" routerLink="/Anketa">Анкета</a>
      </li>

      <li class="nav-item " routerLinkActive="active current">
        <a class="nav-link" routerLink="/Worksheet">Новая анкета</a>
      </li>

      
        <ng-template #Anonym>
        <li  class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/Login" >Login </a>
        </li>
        </ng-template> 
        
        <li *ngIf="user.isAvtorised == true ; else Anonym" class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/LogOut" >Logout </a>
        </li>
      
        <li *ngIf="user.isManager == true || user.isAdmin == true" class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/Manager">Manager</a>
        </li>
        <li *ngIf="user.isAdmin == true" class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/Admin">Admin</a>
        </li>
      
      
      
      
      

      
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

<div *ngIf="(authService.user$ | async ) as user">
  <p *ngIf="user.isAvtorised == true"> Welcome, {{user.userName }} </p>
</div>



